# App config
VITE_APP_NAME="EnRuta Console"
VITE_APP_URL=https://enruta.space

# API endpoints
VITE_API_URL=https://api.enruta.space/api

# Map APIs
# Using public APIs for MVP (OSRM, Nominatim)
VITE_MAPBOX_TOKEN=""